.overlay {
    /*  Hide overlay to begin with */
    display: none;
    /*  Have overlay take up entire screen */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.9);
    /* Have overlay card appear in center of screen */
    justify-content: center;
    align-items: center;
}

.overlay-card{
    display: flex;
    height: 500px;
    width: 1100px;
}

.img-container img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.description-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.description-header{
    display: flex;
    align-items: center;
    padding: 4%;
}

.restaurant-info{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 28px;
}

#savebtn{
    display: flex;
    justify-content: flex-end;
}

#description-text{
    padding: 4%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 5%;
    right: 4.5%;
    font-size: 36px;
    cursor: pointer;
}