/* Theme for both color and spacing (for now?) */

:root {
    --dark-navy: #344955;
    --light-navy: #4A6572;
    --yellow: #F9AA33;
    --gray: #FAFAFA;
}

/* Feather icon styling. Used in header. */
.feather-16 {
    color: white;
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.feather-24 {
    color: white;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.feather-32 {
    color: white;
    width: 32px;
    height: 32px;
    pointer-events: none;
}

/* --- General styling guide used throughout. --- */

body, p {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

a {
    color: black;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    text-decoration: none;
}

input, label, textarea, button {
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
}

::placeholder{
    font-size: 10pt;
}

/* Button styling. */

#postButton, #savebtn {
    background-color: var(--yellow);
    color: white;
    border-radius: 4px;
    padding: 10px 24px;
    text-align: center;
    font-size: 12px;
}

/* --- Header styling. --- */

.header {
    background-color: var(--dark-navy);
}

/* Search bar in the middle of header. Refer to Explore.css. */
.header #search-bar {
    background-color: white;
    border: 1px solid #ddd;
    font-family: 'FontAwesome', 'Source Sans Pro', sans-serif;
    font-size: 10pt;
}

#search-bar:focus {
    background-color: #fff;
}

/* User drop down menu on right side of header. Refer to Explore.css. */
.settings-menu {
    background-color: white;
}

.settings-menu a:hover{
    color: white;
    background-color: var(--yellow);
}

/* --- User card styling. --- */

.user-card {
    background-color: var(--gray);
}

#name{
    font-size: 22px;
    line-height: 60px;
}

#bio{
    font-size: 12px;
    padding-bottom: 28px;
}

input[type=radio]:checked + label{
    border-color: var(--dark-navy);
}

.segmented-control, .user-grid-card, .places-card {
    background-color: var(--gray);
}

/* --- 'Share post' card styling. --- */

.post-card {
    background-color: var(--light-navy);
}

#drop-area{
    background-color: var(--gray);
}

.drop-area-desc{
    color: #757575;
}

/* --- Grid card styling. --- */

.grid-card {
    background-color: var(--gray);
}

/* Location header on top of grid. Refer to Explore.css. */
#location-header{
    /*    font-family: 'Source Sans Pro', sans-serif;*/
    color: var(--light-navy);
}

#location-icon{
    font-size: 28pt;
}

#user-location{
    font-size: 16pt;
}

/* --- Overlay styling. Refer to PopUp.css. --- */

.description-header {
    color: white;
    background-color: var(--light-navy);
}

.description-container {
    background-color: white;
}

#restaurant-name{
    font-weight: bold;
    font-size: 16pt;
}

#restaurant-location{
    font-size: 11pt;
}