.PopUpContainer, .col {
    display: block;
}

.PopUpContainer {
    /* specify fixed width */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #FAFAFA;
}

.col {
    float: left;
    width: 50%;
    padding: 20px;
}

.col img {
    max-width: 90%;
    padding: 20px;
}